.drbody{
    height: 750px;
    background:url("/src/assets/banner.png") no-repeat;
    background-position: center;
    width: 100%;
    background-size: cover;
    justify-content: center;
    text-decoration: none;
    text-align: justify;
}
.drtitle{
    color: aliceblue;
    padding-top: 30px;
    text-align: center;
    margin-top: -20px;

}
.drform{
    padding: 50px ;
   
}
.drform label{
    font-weight: 600;
    font-size: 20px;
    color: aliceblue;
}
.drform input{
    font-size: 18px;
    padding:10px;
    border-radius: 10px;
    border: none;
    padding-inline-start: 10px;

}
.drbtnSubmit{
    font-size: 20px;
    background-color: rgb(39, 167, 222);
    color: white;
    align-content: center;
    border: none;
    width: 250px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
}
.drbtnSubmit:hover{
    background-color: rgb(39, 167, 222);
}

.drsignup{
    display: flex;
    font-size: 20px;
    align-items: center;
    
    text-align: center;
    margin-left: 50px;
}
.drsignup p{
    color: white;
    text-align: center;
}
.drsignup .dr-link{
    font-size: 20px;
    color: rgb(175,175, 179);
    text-align: center;
}