.cbody{
    box-sizing: border-box;
    padding: 0%;
    background: url("src/assets/contact1.jpg") no-repeat;
    background-size: cover;
    background-position: right;
    
}
.ccontact{
    position: relative;
    
    padding: 0px 100px;
    display: flex;   
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
   
}
.ccontact .ccontent {
    max-width: 700px;
    text-align: center;
}
.ccontact .ccontent h2 {
    font-size: 36px;
    font-weight: 600;
    color:rgb(49,121, 181);

}
.ccontact .ccontent p{
    font-weight: 300;
    color:#000;
    font-size: 20px;
}
.ccontainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.ccontainer .ccontactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.ccontainer .ccontactInfo .cbox{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.ccontainer .ccontactInfo .cicon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.ccontainer .ccontactInfo .cbox .ctext{
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    color: #000;
    flex-direction: column;
    font-weight: 300;
}

