.dabody{
    height: 700px;
    margin: auto;
}

.datitle{
    text-align: center;
    color: rgb(49, 121, 181);
    padding: 10px;
}
.ddatagrid{
    padding: 50px;
    margin: auto;
    height: 400px;
    
}
.ddatagrid .dgrid{
    border: 1px solid rgb(49,121,181);
    border-radius: 5px;
    justify-content: center;
    
}


.button-container {
    
    
   
}

.action-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.approve {
    background-color: #4CAF50; 
    color: white;
}


.reject {
    background-color: #f44336;
    color: white;
}


.action-button:hover {
    opacity: 0.8;
}
